body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 100%;
}
  
.card {
    background: rgba( 0, 0, 0, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    padding: 2em;
    padding-top: 150px;
    border-radius: 30px;
    width: auto;
    max-width: 700px;
    max-height: fit-content;
    margin: 1em;
    overflow: hidden;
    scroll-behavior: smooth;
}
  
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}


city-input-butt{
    display: flex;
    align-items: center;
    justify-content: center;

}

input.city-input{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgba( 0, 0, 0, 0.30 );
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}


  
button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: rgba( 255, 255, 255, 0.25 );
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
  
input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgba( 0, 0, 0, 0.30 );
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}
  
button:hover {
    background: #7c7c7c6b;
}
  
h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}
  
.flex {
    display: flex;
    align-items: center;
}
  
.description {
    text-transform: capitalize;
    margin-left: 8px;
}
  

.weather.loading:after {
    visibility: visible;
    content: "";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}
  
.js-tilt-glare {
    border-radius: 10px;
}
  
a {
    margin-top: 7%;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: skyblue;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

#getfood{
    
    color:inherit;
    justify-content:auto;
    align-items: center;
    background-color: chartreuse;
    display:flex center;
    
}

.squircle-button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;

  }
  
  .squircle-button:hover {
    background-color: lightblue;
    
  }
 

  .food {
    display: flex;
    flex-direction: column;
    align-items: center;
  }